.main {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.headerNav ul li {
  display: flex;
}

.title {
  font-size: 10px;
}

.post {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 5px;
}

.postUser {
  background-color: white;
  border-radius: 40px;
  padding: 10px;
}

.postText {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  size: 100px;
}
